@import '_responsive';
@import '_content';


html {
	background: #f4f6f8;
   color: #000;     
   font-family: 'heebo'; 
   overflow-x: hidden;
   max-width: 100vw;

}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

main {
	overflow: hidden;
	flex: 1 0 85vh;
			@include bp(atMedium) {
		padding: 0 1em;
	}
}

* {
	font-smooth: auto;
font-smooth: never;
font-smooth: always;
margin: 0;
padding: 0;
text-rendering: optimizeLegibility;
box-sizing: border-box;
}

.main-title {
	font-weight: 700;
	font-size: 6rem;
	line-height: 1;
	margin-top: 12%;
	max-width: 85%;
	text-align: left;
	width: auto;
	display: inline-block;
	text-transform: none;
	color: #FF4429;
		@include bp(atMedium) {
		line-height: 0.8;
		margin-top: 5vh;
	}
		@include bp(atSmall) {
		line-height: 0.8;
		margin-top: 5vh;
		font-size: 3rem;
	}

}

.left-line {
	width: 10%;
	height: 5px;
	background: #000;
	position: relative;
	margin-right: 3%;
	margin-left: 1%;
	margin-bottom: 1.5em;
	top: 5%;
	left: 0;
	display: inline-block;
	@include bp(atLarge) {
		margin-bottom: 7.5em;
	}
		@include bp(atMedium) {
		margin-bottom: 1.875em;
		top: 5vh;
		display: block;
		width: 40%;
	}
}

.subtitle {
	font-weight: normal;
	margin-left: 15%;
	font-family: 'heebo';
	font-weight: 400;
	display: inline-block;
	width: auto;
@include bp(atMedium) {
		margin-left: 0;
	}
@include bp(atSmall) {
		line-height: 0.8;
		margin-top: 5%;
		font-size: 1rem;
	}
}

.movie-holder {
	width: auto;
	max-width: 50%;
	display: flex;
	
	font-family: 'heebo';
	overflow: hidden;
	justify-content: space-around;
	margin-bottom: 1.75em;
	position: relative;
	left: 30%;
	transition: opacity 0.4s;
		@include bp(atMedium) {
		max-width: 90vw;
		left: 5%;

	}
		@include bp(atSmall) {
		left: 0;
		max-width: 95vw;
		flex-wrap: wrap;
	}
}

.suggestion {
	font-size: 3rem;
	min-height: 4em;
		color: #000;
		font-weight: 900;
	font-family: 'heebo'; 
	text-align: center;
	margin: 0 auto 50px auto;
	width: 50%;
	text-transform: uppercase;
	background: #FF5F6D; /* fallback for old browsers */
background: -webkit-linear-gradient(45deg, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(45deg, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-clip: text;
@include bp(atMedium) {
		width: 90%;
		margin-top: 1.75em;
	}
@include bp(atSmall) {
		font-size: 1.75rem;
		line-height: 1;
		width: 100%;
		
		margin-bottom: 0.875em;
	}

}

.suggestion-name {
	font-style: italic;
}

.instructions, .instructions-mob {

	text-transform: uppercase;
	color: #000;
	font-weight: 900;
	letter-spacing: 0.25em;
	padding: 0.5em;
	display: inline-block;
	width: auto;
	margin: auto;
	margin-top: 6em;
	text-align: center;
	animation-name: flashing;
	animation-duration: 2.5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	opacity: 0;
}

.instructions {
	display: inline-block;
	@include bp(atMedium) {
		display: none;
	}
}

.instructions-mob {
	display: none;
	@include bp(atMedium) {
		padding-top: 10vh;
		display: inline-block;
	}
}

.btn-wrapper {
	width: 100%;
	text-align: center;
}


.try-again {
	margin: auto;
	margin-bottom: 3em;
	text-align: center;
	width: 100%;
	 position: relative;
	 bottom: 12%;
	 	@include bp(atSmall) {
		
	}
	a {
	color: #000;
	font-size: 2rem;
	font-weight: bold;
	transition: all 0.5s;
	background-image: linear-gradient(to right, #f4f6f8 50%, #FF4429 50%);
  background-size: 200%;
  transition: all 0.2s;
  width: auto;
  position: relative;
  	@include bp(atSmall) {
		font-size: 1.25rem;

	}
		  &:hover {
    background-position: -100%;
    cursor: pointer;
    color: #fff;
    	@include bp(atSmall) {
		background-position: 0%;
	}
  }
}
}


footer {
	position: relative;
	bottom: 10px;
	text-align: center;
	width: 100%;
	max-width: 100vw;
	padding: 0.5em 1.75em;
	font-size: 0.875rem;
	margin: 0;
	@include bp(atMedium) {
		font-size: 0.75rem;
		padding: 1em;
		position: relative;
	}
	a{
		transition: all 0.2s;
background-image: linear-gradient(to right, #f4f6f8 50%, #FF4429 50%);
background-size: 200%;
		  &:hover {
    background-position: -100%;
    color: #fff;
        	@include bp(atMedium) {
		background-position: 0%;
	}
  }
  &:visited {
  	color: #000;
  }
	}
}


@import '_animations';