@import '_responsive';
@import '_header';
@import '_content';
@import '_buttons';
@import '_animations';
@import '_footer';




* {
	font-smooth: auto;
font-smooth: never;
font-smooth: always;
margin: 0;
padding: 0;
text-rendering: optimizeLegibility;
box-sizing: border-box;
}

html {
	background: #f4f6f8;
   color: #000;     
   font-family: 'heebo'; 
   overflow-x: hidden;
   max-width: 100vw;

}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

main {
	flex: 1 1 85vh;
			@include bp(atMedium) {
		padding: 0 1em;
	}
}

.suggestion {
	font-size: 3rem;
	min-height: 4em;
	color: #000;
	font-weight: 900;
	font-family: 'heebo'; 
	text-align: center;
	margin: -100px auto 0px auto;
	width: 50%;
	text-transform: uppercase;
@include bp(atMedium) {
		width: 90%;
		margin-top: 1.75em;
	}
@include bp(atSmall) {
		font-size: 1.75rem;
		line-height: 1;
		width: 100%;
		
		margin-bottom: 0.875em;
	}

}

.suggestion-name {
	font-style: italic;
}




